__pycache__/
### venv ###
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

mlruns/
dataset/train2017_subset/
dataset/instances_train2017_subset.json
dataset/coco10/

dataset/coco10_old/
*.zip